<div class="container">
  <div class="container">
      <div class="col-md-12 mx-auto" style="height: 100px;"></div>
  </div>
    <div class="row align-items-center justify-content-center">
      <div class="col-md-4"></div>
      <div class="col-md-8">
        ようこそ、ながのCAKEへ！<br/>
        このサイトは、ケーキ販売のECサイトになります。<br/>
        会員でない方も商品の閲覧はできますが、<br/>
        購入には会員登録が必要になります。</p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 mx-auto" style="height: 200px;"></div>
    </div>
      <h2>新着商品</h2>
    <div class="row">
    <% @items.each do |item| %>
      <div class="card-group">
      <div class="card card border-light mb-3 ml-1 mr-1">
        <div><%= link_to item_path(item) do %>
          <%= image_tag item.image, size: "200x200"%>
          <%= item.name %>
          ¥<%= item.price %>
          <% end %>
        </div>
      </div>
      </div>
    <% end %>
    <div class="d-flex align-items-end">
    <%=link_to "全ての商品を見る >" , items_path %>
    </div>
  </div>
</div>

 
   
   