<h3>注文履歴詳細</h3>

 <td>購入者</td>
 <%= link_to @order.customer.full_name, admin_customer_path(@order.customer) %>
    
 <td>注文日</td>
 <%= @order.created_at.strftime("%Y/%m/%d") %>
      
 <td>配送先</td>
 〒 <%= @order.postal_code %> 
   <%= @order.address %>
 <%= @order.name %>
    
 <td>支払方法</td>
 <%= @order.payment_method_i18n %>
      
 <td>注文ステータス</td>
 <%= form_with model:[:admin, @order], local: true do |f| %>
 <%= f.collection_select(:status, Order.statuses_i18n, :first, :last, {selected: @order.status}) %>
 <%= f.submit "更新", class:"btn btn-success ml-3" %>
 <% end %>

 <th>商品名</th>
 <th>単価（税込）</th>
 <th>数量</th>
 <th>小計</th>
 <th>製作ステータス</th>
          
<% @order.order_details.each do |order_details| %>
            
 <%= order_details.product.name %>
 <%= order_details.tax_included_price %>
 <%= order_details.quantity %>
 <%= order_details.sum_of_price %>
 
<%= form_with model:[:admin, order_details], local: true do |f| %>
              <!-- モデルをもとにセレクトボックスを生成-->
 <%= f.collection_select(:making_status, OrderDetail.making_statuses_i18n, :first, :last,  { selected: order_details.making_status })%>
 <%= f.submit "更新",  class:"btn btn-success" %>

<% end %>
    
<% end %>
     
    
 <td>商品合計</td>
 <%= @order.order_item_payment %>
        
 <td>送料</td>
 <%= @order.postage %>

 <td>請求金額合計</td>
 <%= @order.order_item_payment + @order.postage %>
