<h3>新規会員登録</h3>

<%= form_with model: @customer, url: customer_registration_path, local: true do |f| %>

    <div><%= f.label :名前 %></div>
    
    <div><%= f.label :last_name, "(姓)" %></div>
    <div><%= f.text_field :last_name %></div>
    
    <div><%= f.label :first_name, "(名)" %></div>
    <div><%= f.text_field :first_name %></div>

    <div><%= f.label :フリガナ %></div>
    <div><%= f.label :last_name_kana, "(セイ)" %></div>
    <div><%= f.text_field :last_name_kana %></div>
    
    <div><%= f.label :first_name_kana,"(メイ)" %></div>
    <div><%= f.text_field :first_name_kana %></div>

    <div><%= f.label :email, "メールアドレス" %></div>
    <div><%= f.email_field :email, autofocus: true, autocomplete: "email" %></div>

    <div><%= f.label :postal_code, "郵便番号(ハイフンなし)" %></div>
    <div><%= f.text_field :postal_code %></div>

    <div><%= f.label :address, "住所" %></div>
    <div><%= f.text_field :address %></div>
  
    <div><%= f.label :telephone_number, "電話番号(ハイフンなし)" %></div>
    <div><%= f.text_field :telephone_number %></div>


  <div class="field">
    <%= f.label :"パスワード" %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> 文字以上)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "new-password" %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation, "パスワード(確認用)" %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
  </div>

  <div class="actions">
    <%= f.submit "新規登録" %>
  </div>
<% end %>

<h3 class="mt-5">既に登録済みの方</h3>
<p><%= link_to "こちら",new_customer_session_path %></u>　からログインしてください。</p>

