    <h1>ジャンル検索</h1>
  
    <% @genres.each do |genre| %>
    
     <%= genre.name %>
    
    <% end %>
      

    
      <h3>
        商品一覧
        （全<%= @items.total_count %>件)
      </h3>
      
      <% @items.each do |item| %>
         <%= link_to item_path(item) do %>
         <%= image_tag item.image, size: "200x150" %>
         <% end %>
         <%= item.name %>
         ¥<%= item.tax_included_price.to_s(:delimited) %>
      <% end %>
      
    