 <h1>ジャンル検索</h1>
  
    <% @genres.each do |genre| %>
    
     <%= genre.name %>
    
    <% end %>
    
 
   <%= image_tag @item.image, size: "300x250" %>
 
    <h4><%= @item.name %></h4>
    <%= @item.introduction %>
    ¥<%= @item.tax_included_price.to_s(:delimited) %>
    （税込）
    
    <% if customer_signed_in? %>
      <% if @item.is_active? %>
          
        <%= form_with model: @cart_items, url: cart_items_path, method: :post, local: true do |f| %>
          <%= f.select :amount, options_for_select((1..10).to_a), include_blank: "個数選択" %>
          <%= f.hidden_field :item_id, :value => @item.id %>
          <%= f.submit "カートに入れる" %>
        <% end %>
      <% else %>
          売切れ
      <% end %>
    <% end %>